.blogList {
  .list {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      
      .blogCount {
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
      }
    }
    
    .blogPosts {
      display: flex;
      flex-direction: column;
    }
  }
} 